*{
	margin: 5px;
	padding: 5px;


}

h4{
	font-size: 10px;
}

.contenedor{
	width: 95%;
	min-height: 100vh; 
	max-width: 2000px;
	background-color: #d43535;
	margin:0 auto;

}

.div_texto__h3{
	font-family: 'Dancing Script', cursive;
	font-size: 7vw;
	margin:0 auto;
	background-color: #edebeb;
	text-align: center;
}

.div_imagen__img{
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

.div_input{

	background-color: #edebeb;
	float: left;

}

#btnSi:hover{
	background-color: #e66060;
}


#btnSi{
	border-style: dashed;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32PX;
	padding-right: 32px;
	border-radius: 30%;
	font-size: 7em;
}

#btnNo{
	border-style: dashed;
	padding: 10px;
	border-radius: 30%;
	font-size: 7em;
}

footer{
	
	padding: 5px;
	
}
